### **Collections**
- In python collections are **containers** that are used to **store collection of data**.
- For example: **List, Dict, Set, Tuple etc,.**

#### List - ordered, mutable, hetrogeneous data, duplicates
- Lists are used to store multiple items in a single variable. 
- It is a sequence of datatype which is used to store the collections of data. 
- It contains multiple values in an ordered sequence.
    - which is enclosed in **[ ]**'s
- The elements of the list don't have to be same type

In [1]:
# List of elements seperated by comma

friends = ['John','Kelly','Mack','Sally']
friends

['John', 'Kelly', 'Mack', 'Sally']

In [2]:
# List of Integers

list1 = [4,3,2,7,9,8]
list1

[4, 3, 2, 7, 9, 8]

In [3]:
# List of Mixed Types

mylist = ['Ram', 34, 12.98, True, [4,2,3,6]]
mylist

['Ram', 34, 12.98, True, [4, 2, 3, 6]]

In [4]:
mylist[-1]

[4, 2, 3, 6]

#### Positive and Negative Indexing

In [5]:
# Positive Indexing
#        0    1   2   3   4   5   6
list1 = [10, 45, 67, 92, 84, 16, 27]
#        -7  -6  -5  -4  -3  -2  -1
# Negative Indexing

In [6]:
list1

[10, 45, 67, 92, 84, 16, 27]

In [7]:
list1[3]

92

In [8]:
list1[-4]

92

In [9]:
list1[::]

[10, 45, 67, 92, 84, 16, 27]

In [10]:
list1[::-1]

[27, 16, 84, 92, 67, 45, 10]

Access the elements insides a **List**

In [11]:
# Positive Indexing
#           0       1        2         3        4        5
friends = ['John', 'Kelly', 'Joseph', 'Henry', 'Glenn', 'Sally']
#           -6      -5       -4        -3       -2       -1
# Negative Indexing

friends

['John', 'Kelly', 'Joseph', 'Henry', 'Glenn', 'Sally']

In [12]:
friends[-4]

'Joseph'

#### Nested List

In [13]:
list1 = [4,22,89,[5,7,6,8],21,90]
list1

[4, 22, 89, [5, 7, 6, 8], 21, 90]

In [14]:
list1[3]

[5, 7, 6, 8]

In [15]:
list1[-3]

[5, 7, 6, 8]

#### Access elements in the nested list

In [17]:
mylist = [['Henry', 'John', 'Molly'],[20, 22, 24, 25]]

In [18]:
mylist

[['Henry', 'John', 'Molly'], [20, 22, 24, 25]]

In [19]:
mylist[0]

['Henry', 'John', 'Molly']

In [20]:
mylist[0][1]

'John'

In [21]:
mylist[0][-2]

'John'

In [22]:
mylist

[['Henry', 'John', 'Molly'], [20, 22, 24, 25]]

In [23]:
mylist[-1]

[20, 22, 24, 25]

In [24]:
mylist[-1][1]

22

In [25]:
mylist = [5,3,4,[6,3,4,9],[6,4,3,[2,1,3]]]

mylist

[5, 3, 4, [6, 3, 4, 9], [6, 4, 3, [2, 1, 3]]]

In [26]:
mylist[-1]

[6, 4, 3, [2, 1, 3]]

In [27]:
mylist[-1][-1]

[2, 1, 3]

In [28]:
mylist[-1][-1][0]

2

**List Slicing**

- As index can get single values from a list, slice can get several values from a list in the form of new list(sublists)
- It is similar like an index, but it has two integers seperated by a colon
- Syntax:
    - listObject[start:stop:step]

In [30]:
friends = ['John', 'Alen', 'Kelly', 'Mohan', 'Joseph', 'Henry', 'Glenn', 'Sally', 'Zen', 'Ram']
print(friends)

['John', 'Alen', 'Kelly', 'Mohan', 'Joseph', 'Henry', 'Glenn', 'Sally', 'Zen', 'Ram']

In [31]:
friends[0:3]

['John', 'Alen', 'Kelly']

In [32]:
friends[1:6]

['Alen', 'Kelly', 'Mohan', 'Joseph', 'Henry']

In [33]:
# prints list in reverse order

friends = ['John', 'Alen', 'Kelly', 'Mohan', 'Joseph', 'Henry', 'Glenn', 'Sally', 'Zen', 'Ram']
friends[::-1]

['Ram',
 'Zen',
 'Sally',
 'Glenn',
 'Henry',
 'Joseph',
 'Mohan',
 'Kelly',
 'Alen',
 'John']

In [34]:
len(friends)

10

List values have an **index()** method that can be passed a value, and if that value exits in the list, the index of the value is returned

In [35]:
# Finding a value in list with index() method

friends = ['Joseph', 'Glenn', 'Sally']
friends

['Joseph', 'Glenn', 'Sally']

In [36]:
friends.index('Sally')

2

In [37]:
friends.index('aaa')

ValueError: 'aaa' is not in list

**Creating List**

In [38]:
# Creating a list using list() method

mylist = list([4,2,3,5,7])
mylist

[4, 2, 3, 5, 7]

In [39]:
mylist = list((6,5,4,8))
mylist

[6, 5, 4, 8]

In [40]:
# Creating an empty list

mylist = list()
mylist

[]

In [41]:
mylist = []
mylist

[]

In [42]:
print(type(mylist))

<class 'list'>

In [43]:
# Creating a list having sequence of numbers

mylist = list(range(1,11))
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
# add an element in the list

mylist.append(100)
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [45]:
mylist.append([3,1,2,4])
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, [3, 1, 2, 4]]

In [47]:
# add multiple elements in the list

mylist.extend([12])
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, [3, 1, 2, 4], 12]

In [48]:
mylist.extend([1,2,3,4])
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, [3, 1, 2, 4], 12, 1, 2, 3, 4]

In [49]:
mylist.index(4)

3

The **insert()** method is used to insert a value at any index in the list

In [50]:
# Insert an element at a particular location

mylist = [12,78,93,45]
mylist

[12, 78, 93, 45]

In [51]:
mylist.insert(1, 55)
mylist

[12, 55, 78, 93, 45]

In [52]:
mylist.insert(-1, 56)
mylist

[12, 55, 78, 93, 56, 45]

In [53]:
mylist.insert(-1, 56)
mylist

[12, 55, 78, 93, 56, 56, 45]

In [54]:
len(mylist)

7

In [55]:
mylist.insert(7, 56)
mylist

[12, 55, 78, 93, 56, 56, 45, 56]

In [ ]:
# sort- list, sorted- all collections

**Sorting the List: sort() method**

- Lists of numbers values or lists of strings can be sorted with the **sort()** method
- **We can't sort a list having mixed datatypes**

In [56]:
friends = ['John','Zen', 'Kelly', 'Alen','Joseph', 'Henry', 'Glenn', 'Sally']
friends

['John', 'Zen', 'Kelly', 'Alen', 'Joseph', 'Henry', 'Glenn', 'Sally']

In [57]:
friends.sort()   # permanent changes in the list

In [58]:
friends   # reverse parameter was False

['Alen', 'Glenn', 'Henry', 'John', 'Joseph', 'Kelly', 'Sally', 'Zen']

In [60]:
friends.sort(reverse=True)
print(friends)

['Zen', 'Sally', 'Kelly', 'Joseph', 'John', 'Henry', 'Glenn', 'Alen']

**sorted() method**
- The sorted() method returns a sorted list. 
- It accepts any iterable (list, tuple, string, dict, etc.).

In [61]:
friends = ['John','Zen', 'Kelly', 'Alen','Joseph', 'Henry', 'Glenn', 'Sally']
friends

['John', 'Zen', 'Kelly', 'Alen', 'Joseph', 'Henry', 'Glenn', 'Sally']

In [62]:
sorted(friends)  # won't do permanent changes in the iterator

['Alen', 'Glenn', 'Henry', 'John', 'Joseph', 'Kelly', 'Sally', 'Zen']

In [63]:
friends

['John', 'Zen', 'Kelly', 'Alen', 'Joseph', 'Henry', 'Glenn', 'Sally']

In [64]:
sorted(friends, reverse=True)

['Zen', 'Sally', 'Kelly', 'Joseph', 'John', 'Henry', 'Glenn', 'Alen']

In [66]:
# Remove the last element from the list

friends = ['John', 'Joseph', 'John', 'Glenn', 'Sally', 'John3']
friends

['John', 'Joseph', 'John', 'Glenn', 'Sally', 'John3']

In [67]:
friends.pop()

'John3'

In [68]:
friends

['John', 'Joseph', 'John', 'Glenn', 'Sally']

In [69]:
# Use del keyword with list slicing

myList = list([23, 18, 7, 9, 21, 46, 81, 25])
myList

[23, 18, 7, 9, 21, 46, 81, 25]

In [70]:
del myList[1]

In [71]:
myList

[23, 7, 9, 21, 46, 81, 25]

In [72]:
# remove items from index 2 to 6

del myList[2:7]

In [73]:
myList

[23, 7]

In [74]:
mylist = [23, 7, 9, 21, 46, 81, 25]
mylist

[23, 7, 9, 21, 46, 81, 25]

In [75]:
mylist[1:4]

[7, 9, 21]

In [76]:
del mylist[1:4]

In [77]:
mylist

[23, 46, 81, 25]

- The remove() method removes the first occurance of the element with the specified value

In [78]:
# Remove an element from the list
friends = ['John', 'Joseph', 'John', 'Glenn', 'Sally', 'John']
friends

['John', 'Joseph', 'John', 'Glenn', 'Sally', 'John']

In [79]:
friends.remove('John')

In [80]:
friends

['Joseph', 'John', 'Glenn', 'Sally', 'John']

In [81]:
# How many times "John" appears in the list

friends = ['John', 'Joseph', 'John', 'Glenn', 'Sally', 'John']
friends

['John', 'Joseph', 'John', 'Glenn', 'Sally', 'John']

In [82]:
friends.count('John')

3

In [89]:
# remove all the occurances of 'John'

friends = ['John', 'John', 'Joseph', 'John', 'John', 'Glenn', 'Sally', 'John']

remName = 'John'

for name in friends:
    if name == 'John':
        friends.remove('John')

friends

['Joseph', 'John', 'Glenn', 'Sally', 'John']

In [86]:
friends = ['John', 'Joseph', 'John', 'Glenn', 'Sally', 'John']

remName = 'John'
friends2 = []

for name in friends:
    if name == remName:
        pass
    else:
        friends2.append(name)
        
friends = friends2    # friends is a reference variable
friends

['Joseph', 'Glenn', 'Sally']

#### Create a copy of list

In [ ]:
# shallow copy | deep copy

In [92]:
list1 = [1,2,3,4]

# create a (shallow) copy of a list object

list2 = list1   # list2 is a reference variable

print(list1)
print(list2)

list1.append(100)
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 100]
[1, 2, 3, 4, 100]

In [93]:
list1 = [1,2,3,4]

# create a deep copy

list2 = list1.copy()

print(list1)
print(list2)

list1.append(100)
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 100]
[1, 2, 3, 4]

In [ ]:
# append, extend, insert(indNum, eleValue)

In [94]:
list1 = [4,2,3,[4,2,3]]

list1.insert(3, [1,2,3])
list1

[4, 2, 3, [1, 2, 3], [4, 2, 3]]

In [95]:
list1 = [4,2,3,[4,2,3]]

list1.insert([3][0], [1,2,3])
list1

[4, 2, 3, [1, 2, 3], [4, 2, 3]]

In [96]:
list1 = [4,2,3,[4,2,3]]

list1.insert([3][1], [1,2,3])
list1

IndexError: list index out of range

**strftime()**
- The Strftime() function is used to convert date and time objects to their string representation. 
- It takes one or more inputs of formatted code and returns the string representation in Python.
- For more info, follow the given link
    - https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [99]:
# change the format of date

import datetime

print(dir(datetime))

print(len(dir(datetime)))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']
20

In [100]:
import datetime as dt

In [ ]:
# python package - folder having file __init__

In [102]:
from datetime import date

sdate = date(2024, 10, 5)

print(sdate)

sdate = sdate.strftime("%Y - %m - %d")

sdate

2024-10-05

'2024 - 10 - 05'

In [103]:
sdate = date(2024, 10, 5)

print(sdate)

sdate = sdate.strftime("%Y %B %d")

sdate

2024-10-05

'2024 October 05'

#### zip()

- The zip() function is use to map the similar index of multiple containers so that they can be used as a single entity. 
- Syntax:
    - zip(*iterators)

- Parameters : Python iterables or containers ( list, string etc ) 
- It returns a single iterator object, having mapped values from all the containers.

In [104]:
# Let's see working of zip()
  
# initializing lists
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
marks = [ 40, 50, 60, 70 ]
  
# using zip() to map values

myObject = zip(name, roll_no, marks) # zip() creates a zipObject
myObject

In [105]:
for tup in myObject:
    print(tup)

('Manjeet', 4, 40)
('Nikhil', 1, 50)
('Shambhavi', 3, 60)
('Astha', 2, 70)

In [111]:
# syntax : zip(*iterator)

# Let's see working of zip()
  
# initializing lists
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2, 67, 43]
marks = [ 40, 50, 60, 70, 99 ]
  
# using zip() to map values

myObject = list(zip(roll_no, name, marks))
myObject

[(4, 'Manjeet', 40), (1, 'Nikhil', 50), (3, 'Shambhavi', 60), (2, 'Astha', 70)]

In [112]:
for tup in myObject:
    print(tup)

(4, 'Manjeet', 40)
(1, 'Nikhil', 50)
(3, 'Shambhavi', 60)
(2, 'Astha', 70)

In [115]:
myObject = zip(roll_no, name)
myObject

In [117]:
print(type(myObject))

<class 'zip'>

In [118]:
for i in myObject:
    print(i)

(4, 'Manjeet')
(1, 'Nikhil')
(3, 'Shambhavi')
(2, 'Astha')

In [124]:
# Let's see working of zip()
  
# initializing lists
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
marks = [ 40, 50, 60, 70 ]
  
# using zip() to map values

zipObject = zip(name, roll_no, marks) # zip() creates a zipObject

zipObject

In [125]:
for i in zipObject:
    print(i)

('Manjeet', 4, 40)
('Nikhil', 1, 50)
('Shambhavi', 3, 60)
('Astha', 2, 70)

In [128]:
zipObject = list(zip(name, roll_no, marks)) # zip() creates a zipObject

for tup in zipObject:
    print(tup)

('Manjeet', 4, 40)
('Nikhil', 1, 50)
('Shambhavi', 3, 60)
('Astha', 2, 70)

**List Comprehension**

In [129]:
# Convert every item of a list into its square

list1 = [1, 2, 3, 4, 5, 6, 7]

list2 = [x*x  for x in list1]
list2

[1, 4, 9, 16, 25, 36, 49]

In [131]:
# Add elements of 2 lists and store into 3rd list

list1 = list(range(1,6))
list2 = list(range(6,11))

print(list1)
print(list2)

list3 = [list1[i]+list2[i]   for i in range(5)]

list3

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

[7, 9, 11, 13, 15]

In [132]:
# Create a new list having elements more than 20

list1 = [3, 15, 75, 4, 2, 90, 76, 32, 19]

# listObj = [expression   for loop   if condition]

list2 = [i  for i in list1  if i>20]

list2

[75, 90, 76, 32]

In [133]:
# Convert all the birds in the given list into uppercase

birds = ['crow','parrot','peacock','sparrow']

birds = [bird.upper()  for bird in birds]

birds

['CROW', 'PARROT', 'PEACOCK', 'SPARROW']

In [137]:
# Given a list of numbers, 
# remove floats from the list

list1 = [12.9,10,34.0,67,87,10.8,34,77.0,60,45.87,18]

list2 = [i for i in list1 if not isinstance(i,float)]

print(list2)

[10, 67, 87, 34, 60, 18]