## Introduction to Tuples

**Tuples - Ordered, Immutable, heterogeneous, Can have duplicates**

- A Tuple is an ordered collections of heterogeneous data 
    - Means a tuple can store all types of data
- It is similar to a list, in terms of indexing, nested objects and repetition
- But a tuple is immutable (non-changable) data structure

In [1]:
tup1 = ('John', 'Sallry', 'Jerry')
tup1

('John', 'Sallry', 'Jerry')

In [2]:
tup1[0]

'John'

In [3]:
tup1[-2]

'Sallry'

In [4]:
# tuple with single item

tup1 = (100)
tup1

100

In [5]:
type(tup1)

int

In [6]:
tup1 = (100,) # tupple with a single element

tup1

(100,)

**Tuples are 'immutable'**

- Unlike a list, once you create a tuple, you cannot alter its contents - similar to a string.

In [7]:
# Add an item to a tuple

tup1 = (5,2,9)
tup1

(5, 2, 9)

In [8]:
tup1 = list(tup1)
tup1.append(55)
print(tup1)
tup1.extend([6,7,8])
print(tup1)

tup1 = tuple(tup1)
tup1

[5, 2, 9, 55]
[5, 2, 9, 55, 6, 7, 8]

(5, 2, 9, 55, 6, 7, 8)

In [ ]:
# things u can't do with tuple

# sort, append, remove,.....

**Tuples and Assignment**

- We can also put a tuple on the left-hand side of an assignment statement
- We can even omit the parentheses

In [ ]:
a,b,c = 5,3,4

In [9]:
# tuple packing

tup1 = 4,2,3,6
tup1

(4, 2, 3, 6)

In [10]:
tup1 = (2,6,3,4,8)
tup1

(2, 6, 3, 4, 8)

In [13]:
# tuple unpacking

tup1 = (11,44,77)
tup1

(11, 44, 77)

In [14]:
a,b,c = tup1

print(a,b,c)

11 44 77

**Tuples are Comparable**

- The comparison operators work with tuples and other sequences.

- If the first item is equal, Python goes on to the next element, and so on, until it finds element that differ.

In [ ]:
# If the first item is equal, 
# Python goes on to the next element, and so on, 
# until it finds element that differ

In [15]:
(10,1,2) < (5,1,2)

False

In [16]:
(3,2,'d') < (4,5,'b')

True

In [21]:
(3,2,'d') < (3,2,'b')

False

In [23]:
(3,2,'d') != (3,2,'b')

True

In [19]:
tup1 = (4,2,5)   # 1 tuple object
print(tup1)

tup1 = (5,6,7)    # a diff tuple object is going to get ceats
print(tup1)

(4, 2, 5)
(5, 6, 7)

In [24]:
tup1[::]

(5, 6, 7)

**Sorting Lists of Tuples**

- We can take advantage of the ability to sort a list of tuples to get a sorted version of a dictionary.
- First we sort the dictionary by the key using the items() method and sorted() function.

#### sorted() method

- Python sorted() function returns a sorted list. 
- It accepts any iterable (list, tuple, string, dictionary, etc.).

In [25]:
tup1 = (66,12,35,64,90,81,20)

tup1

(66, 12, 35, 64, 90, 81, 20)

In [26]:
sorted(tup1)

[12, 20, 35, 64, 66, 81, 90]

In [27]:
tup1

(66, 12, 35, 64, 90, 81, 20)

In [28]:
sorted(tup1, reverse=True)

[90, 81, 66, 64, 35, 20, 12]

In [29]:
tup1

(66, 12, 35, 64, 90, 81, 20)

In [ ]:
#tup1 = sorted(tup1, reverse=True)

## Introduction to Sets

- A set is an unordered collection of data items.
- It is an unordered collections of object, unlike lists and tuples.

#### Sets  -  Unordered, Unchangeable, Heterogeneous, Unique
- All elements in the set must be unique, this are unordered, 
    - i.e. its elements are not stored in any particular order.
- The elements that are stored in a set can be of different data types.
- However, the set itself is mutable. i,e. we can add or remove items from it.
- Sets can be used to perform mathematical set operations like union, intersection, symmetric differences, etc.

**Creating of a Set**

- A set is created by placing all the elements inside curly braces **{}**, 
    - seperated by comma or by using the built-in function **set{}**

In [30]:
# Creating a set

set1 = {4,2,5,7,5,3,2,5,6,4,2,5}
set1

{2, 3, 4, 5, 6, 7}

In [35]:
# A set of mixed data types

myset = {'John',34, None,55,True, 9.32, 'Gold'}
myset

{34, 55, 9.32, 'Gold', 'John', None, True}

In [36]:
myset

{34, 55, 9.32, 'Gold', 'John', None, True}

In [37]:
# Set can't have a list inside

myset = {5,2,3,[6,4,5]}
myset

TypeError: unhashable type: 'list'

In [ ]:
# Set can't have a set inside

In [38]:
# Creating an empty set

myset = {}

myset

{}

In [39]:
print(type(myset))

<class 'dict'>

In [40]:
myset = set()

myset

set()

In [41]:
type(myset)

set

In [42]:
# Delete duplicates from the given list

mylist = [4,2,3,9,7,1,5,4,2,3,8,9,7,4,2,3]

mylist = set(mylist)
mylist = list(mylist)

mylist

[1, 2, 3, 4, 5, 7, 8, 9]

In [43]:
set1 = {6,True,2,3,'Blue'}
set1

{2, 3, 6, 'Blue', True}

**Adding elements to set**

- Sets are mutable. But since they are unordered, indexing has no meaning.

- We cannot access or change an element of a set using indexing or slicing

In [44]:
set1.add('India')

set1

{2, 3, 6, 'Blue', 'India', True}

- We can add single element using the **add()** method and multiple elements using the **update()** method

- The update() method can take tuples, lists, strings or other sets as its aruguments.

- In all cases, duplicates are avoided

In [45]:
# syntax: update(iterator/collection)

set1.update([4,2,22,False])

#set1.update(5,2,3,7,9)

set1

{2, 22, 3, 4, 6, 'Blue', False, 'India', True}

In [46]:
set1.update('abc')

set1

{2, 22, 3, 4, 6, 'Blue', False, 'India', True, 'a', 'b', 'c'}

In [47]:
set1.update('abc')

set1

{2, 22, 3, 4, 6, 'Blue', False, 'India', True, 'a', 'b', 'c'}

In [49]:
set1.update((5,2,3,7,9))

set1

{2, 22, 3, 4, 5, 6, 7, 9, 'Blue', False, 'India', True, 'a', 'b', 'c'}

In [51]:
set1 = {4,2,3,True}
set1.update(['aaa','ggg','eee'])
set1

{2, 3, 4, True, 'aaa', 'eee', 'ggg'}

In [52]:
set1

{2, 3, 4, True, 'aaa', 'eee', 'ggg'}

**Remove elements from a Set**

- A particular item can be removed from set using methods, disard() and remove().

In [53]:
set1.discard('aaa')

In [54]:
set1

{2, 3, 4, True, 'eee', 'ggg'}

In [55]:
set1.discard('wrwrrwe')

set1

{2, 3, 4, True, 'eee', 'ggg'}

- Using discard(), if the item does not exit in the set, it remains unchanged.

In [56]:
set1

{2, 3, 4, True, 'eee', 'ggg'}

In [57]:
set1.remove(3)

In [58]:
set1

{2, 4, True, 'eee', 'ggg'}

- But using remove(), if the items does not exist in the set, it will raise an error.

In [59]:
set1.remove(3)

KeyError: 3

In [61]:
set1

{2, 4, True, 'eee', 'ggg'}

In [62]:
set1.discard("aaaaa")

In [63]:
set1

{2, 4, True, 'eee', 'ggg'}

In [64]:
set1.discard('eee')

In [65]:
set1

{2, 4, True, 'ggg'}

In [66]:
set1.discard("ggg")

In [67]:
set1

{True, 2, 4}

**Set Operations**

- Sets can be used to carry out mathematical set operations such as 
    - union, intersection, difference, and symmetric difference.

- We can do this with operators or methods

In [68]:
# Example: Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [69]:
A|B   # Union

{1, 2, 3, 4, 5, 6, 7, 8}

In [70]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
C = {8,3,2,5,6}

A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
A|B|C

{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
color1 = {'red','green'}
color2 = {'blue','green','orange'}

color1|color2

{'blue', 'green', 'orange', 'red'}

In [74]:
# common elements / intersection

color1 & color2

{'green'}

In [75]:
color1.intersection(color2)

{'green'}

In [77]:
print(color1)
print(color2)

{'red', 'green'}
{'green', 'orange', 'blue'}

In [78]:
# elements present in the 1st set and not in the other sets

# difference

color1 - color2

{'red'}

In [79]:
# uncommon elements from all the sets

# symmetric difference  ....   '^' is a carot operator

color1 ^ color2

{'blue', 'orange', 'red'}

In [ ]:
# Two lists are given
# Find common and uncommon elements from the list

list1 = [5,2,3,8,6,1]
list2 = [1,6,2,9,0]