#### Dictionary - Ordered, Unique, Mutable

- As python version 3.7 dictionaries are ordered. 
- In python 3.6 earlier versions dictionaries were unordered.
- Dictionaries are used to store data values in Key:Value pairs. 
- A dictionary is a collection which is **ordered*, changeable, and doesn't allow duplicates**. 
- It allows us to do fast database like operations in python.
- In Dictionaries we **index** the entries with a "**Lookup tag**",  
    - whereas in Lists **index** their entries based on the position in the list

In [5]:
#word = meaning
#key  : value ---> item

In [3]:
# Create a dictionary
# Add items into the dictionary

mydict = {'John': 'Reading',
          'Henry': 'hiking',
          101 : 'A232',
          'code': 102,
          'Kelly': 'Reading',
          'John': 'Music',
         }
mydict

{'John': 'Music',
 'Henry': 'hiking',
 101: 'A232',
 'code': 102,
 'Kelly': 'Reading'}

In [4]:
# Create a dictionary
# Add items into the dictionary

mydict = {'John': 'Reading',
          'Henry': ['hiking','music'],
          101 : 'A232',
          'code': 102,
          'Kelly': 'Reading',
          'John': 'Music',
         }
mydict

{'John': 'Music',
 'Henry': ['hiking', 'music'],
 101: 'A232',
 'code': 102,
 'Kelly': 'Reading'}

In [5]:
mydict['Henry']

['hiking', 'music']

In [6]:
mydict.get('Henry')

['hiking', 'music']

In [7]:
mydict['code']

102

In [8]:
mydict['code'] = mydict['code'] + 10

In [9]:
mydict['code']

112

In [10]:
mydict['code'] += 10

In [11]:
mydict['code']

122

#### Deleting dictionary items

In [13]:
# Create a dictionary

my_dict = {'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT'}
my_dict

{'name': 'John', 'code': 4001, 'city': 'delhi', 'dept': 'IT'}

In [14]:
# Delete particular key and returns its value using pop()

my_dict.pop('dept')

'IT'

In [16]:
my_dict.pop('code')

4001

In [17]:
my_dict

{'name': 'John', 'city': 'delhi'}

In [18]:
# Delete the last element - using popitem(), return (key, value)

my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT'}
my_dict

{'name': 'John', 'code': 4001, 'city': 'delhi', 'dept': 'IT'}

In [19]:
my_dict.popitem()

('dept', 'IT')

In [20]:
my_dict.popitem()

('city', 'delhi')

In [21]:
my_dict

{'name': 'John', 'code': 4001}

In [22]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT'}
my_dict

{'name': 'John', 'code': 4001, 'city': 'delhi', 'dept': 'IT'}

In [23]:
# Delete an element using del keyword

del my_dict['code']

In [24]:
my_dict

{'name': 'John', 'city': 'delhi', 'dept': 'IT'}

In [25]:
# Delete all elements

my_dict.clear()

In [26]:
my_dict

{}

In [27]:
# Delete whole dictionary

del my_dict

In [28]:
my_dict

NameError: name 'my_dict' is not defined

#### dictionary methods: keys(), values(), items()

In [29]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT'}
my_dict

{'name': 'John', 'code': 4001, 'city': 'delhi', 'dept': 'IT'}

In [30]:
my_dict.keys()

dict_keys(['name', 'code', 'city', 'dept'])

In [31]:
my_dict.values()

dict_values(['John', 4001, 'delhi', 'IT'])

In [32]:
my_dict.items()

dict_items([('name', 'John'), ('code', 4001), ('city', 'delhi'), ('dept', 'IT')])

In [34]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 4001}
my_dict

{'name': 'John', 'code': 4001, 'city': 'delhi', 'dept': 4001}

In [35]:
my_dict.values()

dict_values(['John', 4001, 'delhi', 4001])

#### Loop through the dictionary

In [37]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'sales'}
my_dict

{'name': 'John', 'code': 4001, 'city': 'delhi', 'dept': 'sales'}

In [38]:
for k in my_dict.keys():
    print(k)

name
code
city
dept

In [40]:
for v in my_dict.values():
    print(v)

John
4001
delhi
sales

In [41]:
for item in my_dict.items():
    print(item)

('name', 'John')
('code', 4001)
('city', 'delhi')
('dept', 'sales')

In [43]:
for k,v in my_dict.items():
    print(k,'-',v)

name - John
code - 4001
city - delhi
dept - sales

In [45]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'code': 'sales'}
my_dict

{'name': 'John', 'code': 'sales', 'city': 'delhi'}

#### sorted() method

- Python sorted() function returns a sorted list. 
- It accepts any iterable (list, tuple, string, dictionary, etc.).

In [47]:
# Create a dictionary having multiple items

mydict = {'d' : 45, 'a' : 10, 'z' : 23, 'b' : 1, 'c' : 22}
mydict

{'d': 45, 'a': 10, 'z': 23, 'b': 1, 'c': 22}

In [48]:
mydict.items()

dict_items([('d', 45), ('a', 10), ('z', 23), ('b', 1), ('c', 22)])

In [49]:
# Sort the above dictionary

sorted(mydict)

['a', 'b', 'c', 'd', 'z']

In [50]:
sorted(mydict.items())

[('a', 10), ('b', 1), ('c', 22), ('d', 45), ('z', 23)]

In [51]:
# Sort the above dictionary (descending order)

sorted(mydict.items(), reverse=True)

[('z', 23), ('d', 45), ('c', 22), ('b', 1), ('a', 10)]

In [52]:
mydict.items()

dict_items([('d', 45), ('a', 10), ('z', 23), ('b', 1), ('c', 22)])

In [58]:
mydict5 = {'a':101, 'f':342}
mydict5

{'a': 101, 'f': 342}

In [59]:
mydict5['r'] = 768

mydict5

{'a': 101, 'f': 342, 'r': 768}

In [60]:
mydict = {'d' : 45, 'a' : 10, 'z' : 23, 'b' : 1, 'c' : 22}

mylist = sorted(mydict.items())

mydict2 = {}

for mytuple in mylist:
    #print(mytuple)
    mykey = mytuple[0]
    myval = mytuple[1]
    mydict2[mykey] = myval

mydict2

{'a': 10, 'b': 1, 'c': 22, 'd': 45, 'z': 23}

In [61]:
mydict = {'d' : 45, 'a' : 10, 'z' : 23, 'b' : 1, 'c' : 22}

mylist = sorted(mydict.items())
print(mylist)
mydict2 = {}

for mytuple in mylist:    #[(k,v),(k,v),(k,v),...]
    #print(mytuple)       #  0 1   0 1   0 1 ,....
    mykey = mytuple[0]
    myval = mytuple[1]
    mydict2[myval] = mykey

mydict2

{10: 'a', 1: 'b', 22: 'c', 45: 'd', 23: 'z'}

**Sort by values instead of key**

- If we could construct a list of tuples of the form(values, keys) we could sort by value
- We do this with a *for* loop that creates a list of tuples

In [ ]:
# Sort by values instead of key

mydict = {'d' : 45, 'a' : 10, 'z' : 23, 'b' : 1, 'c' : 22}

In [62]:
# Create two dictionaries

area1 = {'CA': 'California', 'NY': 'New York'}
area2 = {'CA': 'California', 'DC': 'Washigton DC'}

# Use update() method to merge dictionaries

area1.update(area2)
area1

{'CA': 'California', 'NY': 'New York', 'DC': 'Washigton DC'}

In [63]:
# Create two dictionaries

area1 = {'CA': 'California', 'NY': 'New York'}
area2 = {'CA': 'California2', 'DC': 'Washigton DC'}

# Use update() method to merge dictionaries

area1.update(area2)
area1

{'CA': 'California2', 'NY': 'New York', 'DC': 'Washigton DC'}

#### Nested dictionary

In [64]:
# Create nested dictionary

progLang = {
    "Py": {
        "year": 1991,
        "creator": "G. van Rossum",
    },
    "Java": {
        "year": 1995,
        "creator": "J. Gosling",
    },
    "C#": {
        "year": 2000,
        "creator": "Microsoft",
    }
}
progLang

{'Py': {'year': 1991, 'creator': 'G. van Rossum'},
 'Java': {'year': 1995, 'creator': 'J. Gosling'},
 'C#': {'year': 2000, 'creator': 'Microsoft'}}

In [65]:
for k,v in progLang.items():
    print(k,v)

Py {'year': 1991, 'creator': 'G. van Rossum'}
Java {'year': 1995, 'creator': 'J. Gosling'}
C# {'year': 2000, 'creator': 'Microsoft'}

In [68]:
for k,v in progLang.items():
    print('----------------------')
    print(k)
    for kk,vv in v.items():
        print(kk,'-',vv)

----------------------
Py
year - 1991
creator - G. van Rossum
----------------------
Java
year - 1995
creator - J. Gosling
----------------------
C#
year - 2000
creator - Microsoft

In [ ]:
#from google.colab import files
#uploaded = files.upload()

In [78]:
# Accept a text file
# Count the words and it's occurance 
# And store it in a dictionary

filepointer = open(r'D:\datasets\fruits.txt','r') 

#filepointer = open('fruits.txt') 
countdict = {}

for line in filepointer:
    #print(line, end='')
    words = line.split()
    #print(words)
    for word in words:
        #print(word)
        if word not in countdict:
            countdict[word] = 1    # add new item in the dictionary
        else:
            countdict[word] += 1  # add 1 to the existing item

filepointer.close()
countdict

{'orange': 3, 'mango': 3, 'cherry': 4, 'watermelon': 2, 'banana': 2}

In [79]:
print(type(filepointer))

<class '_io.TextIOWrapper'>

In [81]:
filepointer = open(r'fruits.txt')
couontdict={}

for line in filepointer:
    print(line,end='')

orange mango cherry
cherry watermelon banana
mango orange
cherry
cherry watermelon banana
mango orange

In [ ]:
with open('files.txt', 'r') as fp:
    pass

### Dictionary Comprehension

In [82]:
product = ['Book','Pen','Ruler','Box','Bag']
stock = [15,42,20,23,19]

# Create a dictionary using the product and stock list

mydict = {k:v  for k,v in zip(product,stock)}
mydict

{'Book': 15, 'Pen': 42, 'Ruler': 20, 'Box': 23, 'Bag': 19}

In [83]:
# Create a list having numbers from 1 to 10
# store the number and it's cube in a dictionary 
# as key and value pair

mydict = {i:(i**3)   for i in range(1,11)}
mydict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [85]:
from math import pow

mydict = {i:int(pow(i,3))   for i in range(1,11)}
mydict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [87]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT',
         'exp': 5,
         'area': 'West',
        }

keyList = ['code','exp', 'area']

# Delete all the dictionary items which are in the keyList

mydict2 = {k:v   for k,v in my_dict.items()  if k not in keyList}
mydict2

{'name': 'John', 'city': 'delhi', 'dept': 'IT'}