 In this notebook we will be covering the built-in functions that are create and inter-convert iterables like(list,tuple and dictionary).

we will cover:


* list()

*   tuple()
*   set()


*   dict( )



and we conclude with some examples related to these topics

# **list()**
**list(**iterable**)** Converts an iterable (such as a tuple or string) into a list

In [ ]:
#This example converts a tuple (1, 2, 3, 4) into a list
tuple_data = (1, 2, 3, 4)
list_data = list(tuple_data)
print(list_data)

[1, 2, 3, 4]

When you apply the **list()** function to a string, it converts each character of the string into individual elements of a list

In [ ]:
list("hello world")

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
#string_data = "Harish, Simran, Roshan, Shivakumar"
#names_list = string_data.split(',')
#print(names_list)

# **tuple()**
**tuple(**iterable**)** Converts an iterable (such as a list or string) into a tuple

In [ ]:
# This example converts a list [1, 2, 3, 4] into a tuple
list_data = [1, 2, 3, 4]
tuple_data = tuple(list_data)
print(tuple_data)

(1, 2, 3, 4)

Similar to list(), tuple() converts each character of a string into individual elements of a tuple

In [ ]:
tuple("string")

('s', 't', 'r', 'i', 'n', 'g')

 # **set()**
 **set(**iterable**)** Creates a set from an iterable (such as a list, tuple, or string).

In [ ]:
#This example converts a list [1, 2, 2, 3, 4, 4, 5] into a set, removing duplicate elements.
list_data = [1, 2, 2, 3, 4, 4, 5]
set_data = set(list_data)
print(set_data)

{1, 2, 3, 4, 5}

In [ ]:
#doubt
set("sample.2024@gmail.com")

{'.', '0', '2', '4', '@', 'a', 'c', 'e', 'g', 'i', 'l', 'm', 'o', 'p', 's'}

 # **dict()**
 **dict()** is a built-in constructor function in Python used to create dictionary objects.

 It can be used in various ways, such as providing **keyword arguments**, **passing a mapping object**, or **providing an iterable of key-value pairs**.

## Method 1:  keyword arguments
syntax: dict(**kwarg)

If keyword arguments are used, the arguments must be valid identifiers as they become keys in the dictionary.

In [ ]:
# Using keyword arguments
my_dict1 = dict(one=1, two=2, three=3)
print(my_dict1)

{'one': 1, 'two': 2, 'three': 3}

## Method 2:  Using a mapping object
syntax: dict(mapping, **kwarg)

If a mapping object is provided, it must be a dictionary or a subclass of a dictionary.

In [ ]:
my_dict2 = dict({'one': 1, 'two': 2, 'three': 3})
print(my_dict2)

{'one': 1, 'two': 2, 'three': 3}

## Method 2:  Using an iterable of key-value pairs
syntax: dict(iterable, **kwarg)

If an iterable of key-value pairs is provided, each element of the iterable must be a tuple where the first element is the key and the second element is the value.

In [ ]:
my_dict3 = dict([('one', 1), ('two', 2), ('three', 3)])
print(my_dict3)