# Python basics

## Working with print() function

- single quotes
- double quotes
- triple quotes

In [1]:
print('Hello world')

Hello world

In [2]:
print("Good morning")
print('Have a nice day')

Good morning
Have a nice day

In [3]:
print("""Hello
have a nice day
Thanks!""")

Hello
have a nice day
Thanks!

In [5]:
# It's a beautiful day

print("It's a beautiful day")

It's a beautiful day

In [6]:
print('It's a beautiful day')

SyntaxError: unterminated string literal (detected at line 1) (552700544.py, line 1)

In [7]:
# Happy "Diwali" to all of you

print('Happy "Diwali" to all of you')

Happy "Diwali" to all of you

In [8]:
# Using escape sequence with print()

print("Happy \"Diwali\" to all of you")

Happy "Diwali" to all of you

In [10]:
print('India\nJapan\nCanada')

India
Japan
Canada

In [12]:
print('India\nJapan\tCanada')

India
Japan	Canada

In [15]:
print("Happy \"Diwali\" everyone")

Happy "Diwali" everyone

In [17]:
print('India\\nJapan\tCanada')

India\nJapan	Canada

#### RAW STRING
- Python Raw Strings are string literals prefixed with a "r" or "R"
- Raw Strings do not treat backslashes as part of an escape sequence
- It will be printed normally as a result

In [18]:
print("c:\newOffice\newdept\tempData.doc")

c:
ewOffice
ewdept	empData.doc

In [19]:
print("c:\\newOffice\\newdept\\tempData.doc")

c:\newOffice\newdept\tempData.doc

In [20]:
print(r"c:\newOffice\newdept\tempData.doc")

c:\newOffice\newdept\tempData.doc

In [21]:
print(R"c:\newOffice\newdept\tempData.doc")

c:\newOffice\newdept\tempData.doc

In [24]:
print(r"""c:\newOffice\newdept\tempData.doc""")

c:\newOffice\newdept\tempData.doc

# **Datatypes and Variables**

**Variable Data Types**
Based on the data type of the variable, python allocates memory and decides what can be stored
 1. NUMERIC:
      - Int     X = 10
      - float   X = 10.5
      - complex X = 10+0j
 2. SEQUENCE:
      - strings x = "hi my name is" or x = 'hi my name is'
      - List, Tuple
 3. Others:
      - Boolean, Set, Dictionaries

- A value can be anything such as number, character, string, float..etc

**Rules for naming a variable:** called as an identifier

- A variable can only begin with (A-Z/a-z) or with an _(underscore)
- The rest of the identifier may contain (a-z/A-Z) or with an _ or with the numbers(0-9)
- These are case sensitive

**eg:**
- accepted: spam, eggs, spam23, _speed X, X1, X33, AB_, _S1
- unacceptable: 23spam, #sign, var1.2

#### type() function - check the datatype of a variable

In [ ]:
# Basic datatypes in Python - int, float, bool, complex

In [25]:
num1 = 10   

num1

10

In [26]:
print(num1)

10

In [27]:
type(num1)

int

In [28]:
print(type(num1))

<class 'int'>

In [29]:
num2 = 34

num2

34

In [30]:
num1
num2

34

In [31]:
print(num1, num2)

10 34

In [32]:
num1, num2

(10, 34)

In [ ]:
num1 = 100     # int
num1 = 10.89   # float

In [33]:
# How long an integer can be

num1 = 9847598275923400000000000000000000000000000000000000000000000
num1

9847598275923400000000000000000000000000000000000000000000000

In [34]:
num2 = 45.97765    # float

num2

45.97765

In [35]:
# How long a float can be

num2 = 4545435435.8767833333333333386000000000000000
num2

4545435435.876783

In [36]:
print(type(num2))

<class 'float'>

In [37]:
result = False    # boolean
result

False

In [38]:
type(result)

bool

In [39]:
result = True
result

True

In [ ]:
# PYTHON IS USED FOR BIGDATA

In [40]:
# complex datatype

c1 = 10+5j
c2 = 60+10J

print(c1, c2)

(10+5j) (60+10j)

In [41]:
c3 = c1+c2
c3

(70+15j)

In [42]:
# string datatype

name = "Amit Sharma"   # Immutable
name

'Amit Sharma'

In [43]:
name = 'Amit S Sharma'   # string is a collection
name

'Amit S Sharma'

In [44]:
# Multiple values in multiple variables

a = 45
b = 51
c = 98
print(a+b+c)

194

In [45]:
a,b,c = 45,51,98
print(a,b,c)

45 51 98

In [49]:
# Same value in multiple variables

#a,b,c = 100,100,100      # correct

#a,b,c = 100               # syntax error

a = b = c = 100      # pythonic way

print(a*b*c)

d = a*b*c

print(d)

1000000
1000000

In [48]:
b

100

In [51]:
# Swap the numbers program

a, b = 100, 200

print(a,b)

a, b = b, a    

# a, b = 200, 100

print(a,b)

100 200
200 100

In [52]:
# Swap the numbers program

a, b = 100, '200'

print(a,b)

a, b = b, a

# a, b = 200, 100

# a = 200
# b = 100

print(a,b)

100 200
200 100

In [54]:
a, b = 100, 200; print(a,b); a, b = b, a

100 200

In [55]:
a = 100    # a is int

a = 'ram'   # a is string

a = True    # a is bool

In [57]:
# id() function is used to display memory address of a variable

a,b,c = 50, 50, 100

print(a,b,c)
print(id(a))
print(id(b))
print(id(c))

50 50 100
140728367356232
140728367356232
140728367357832

In [58]:
b = 500

print(id(a))
print(id(b))
print(id(c))

140728367356232
2549066423632
140728367357832

In [59]:
a,b,c

(50, 500, 100)

In [60]:
c = 500

print(id(a))
print(id(b))
print(id(c))

140728367356232
2549066423632
2549066423120

In [61]:
a,b,c

(50, 500, 500)

In [62]:
a,b,c = 50, 50, 100

print(id(a))
print(id(b))
print(id(c))

print(a,b,c)

c = 45
print(id(a))
print(id(b))
print(id(c))

print(a,b,c)

a = 45
print(id(a))
print(id(b))
print(id(c))

print(a,b,c)

140728367356232
140728367356232
140728367357832
50 50 100
140728367356232
140728367356232
140728367356072
50 50 45
140728367356072
140728367356232
140728367356072
45 50 45

In [63]:
a,b,c = 50.1, 50.1, 100.5

print(id(a))
print(id(b))
print(id(c))

print(a,b,c)

c = 45.1
print(id(a))
print(id(b))
print(id(c))

print(a,b,c)

a = 45.1
print(id(a))
print(id(b))
print(id(c))

print(a,b,c)

2549066422064
2549066422064
2549066421744
50.1 50.1 100.5
2549066422064
2549066422064
2549066423600
50.1 50.1 45.1
2549066420656
2549066422064
2549066423600
45.1 50.1 45.1

In [64]:
a

45.1

In [65]:
# delete the variable from the memory

del a

In [66]:
a

NameError: name 'a' is not defined

In [ ]:
# module - is a python file with .py extension
# functions,class,variables

# builtin module/user defined

### Keywords in Python

- You can display all keywords using **kwlist** attribute from **keyword** module

In [67]:
# display Keywords in Python

import keyword

print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [68]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [69]:
len(keyword.kwlist)

35

In [ ]:
# magic methods / dunder methods / 

# oop - constructor - __init__()

**Constant**

Constant is a types of variable whose value cannot be changed
- python doesn't have built in constant types
- but **by convention**, the variable name with all capital letters used to define a constant

eg: FILE_SIZE_LIMIT = 2000,
    PI = 3.14

In [70]:
num1 = 90

pi = 3.1415

PI =3.1415

PI

3.1415

In [72]:
SIZE = 100

print(SIZE)
SIZE += 10    # SIZE = SIZE + 10    # changing value of SIZE is not a good idea
print(SIZE)

100
110

### Type Conversion in Python
- Type conversion is an act of changing an object’s data type
- Python defines type conversion functions to directly convert one data type to another
    - which is useful in day-to-day and competitive programming
- The Python interpreter automatically performs Implicit Type Conversion
- At the same time, Python prevents Implicit Type Conversion from losing data

#### There are two types of Type Conversion in Python:
- Implicit Type Conversion
- Explicit Type Conversion

#### Type Casting
- Type casting is a process of explicit type conversion
- Here the user converts the data types of objects using specified functions
- There is a posobility of data loss, if the object is forced to convert to a particular data type

#### Implicit Type Conversion in Python
- Here, the Python interpreter automatically converts one data type to another without any user involvement

In [73]:
# Observe the following code

# Implicit Type Conversion in Python

x = 10

print("x is of type:",type(x))

y = 10.6
print("y is of type:",type(y))

z = x + y

print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

### Explicit Type Conversion in Python
- Here, the data type is manually changed by the user as per their requirement
- Also, there is a risk of data loss since we are forcing an expression to be changed in some specific data type

#### Various forms of explicit type conversion:
- Converting integer to float
    - int(a): This function converts any data type to an integer.
    - float(): This function is used to convert any data type to a floating-point number.

In [78]:
# initializing string
str1 = "10010"

# converting string to integer
print(int(str1))
print(type(str1))

num1 = int(str1)          # type casting
print(num1, type(num1))

# converting string to float
num2 = float(str1)
print(num2, type(num2))

10010
<class 'str'>
10010 <class 'int'>
10010.0 <class 'float'>

In [79]:
str1 = 'John'

num1 = int(str1)          # type casting
print(num1, type(num1))

ValueError: invalid literal for int() with base 10: 'John'

In [80]:
result = True

str2 = str(result)
str2

'True'

In [82]:
num = 1001

str2 = str(num)
str2

'1001'

In [83]:
s1 = '78,700'

num5 = int(s1)
num5

ValueError: invalid literal for int() with base 10: '78,700'

In [84]:
s1 = '78,700'

s1.replace(',','')

'78700'

In [85]:
s1 = s1.replace(',','')
s1

'78700'

In [86]:
num5 = int(s1)
num5

78700

In [ ]:
# Advance datatypes / collections
# list, tuple, set, dictionary

In [87]:
nums = [23,54,77,89,65,101]   # nums is a list

nums

[23, 54, 77, 89, 65, 101]

In [88]:
# working of split()

name = "Amit Rakesh Sharma"

name

'Amit Rakesh Sharma'

In [89]:
name.split()

['Amit', 'Rakesh', 'Sharma']

In [91]:
name = "Amit,Rakesh,Sharma"    # string is immutable/unchangable

name.split(',')   # returns a list

['Amit', 'Rakesh', 'Sharma']

In [92]:
name

'Amit,Rakesh,Sharma'

In [93]:
# store all names in a list - using split()

name = "Amit Rakesh Sharma"

fname,mname,lname = name.split()

print(fname,mname,lname)

Amit Rakesh Sharma

In [95]:
# split the date

dateOfJoining = "12-05-2023"

dateOfJoining.split('-')

['12', '05', '2023']

In [96]:
# input()

name = input('Enter your name: ')
print('Hello', name)

Enter your name: Trupti
Hello Trupti

In [97]:
name = input('Enter your name: ')
hobby = input('Enter your hobby: ')

print(name, 'likes', hobby)

Enter your name: Trupti
Enter your hobby: hiking
Trupti likes hiking

In [98]:
name, hobby = input('Enter ur name and hobby: ').split()

print(name, 'likes', hobby)

Enter ur name and hobby: John Trekking
John likes Trekking

In [99]:
# input() int,float values

n1 = int(input('Enter a number: '))

n1+100

Enter a number: 55

155

In [100]:
# input() int,float values

n1 = float(input('Enter a number: '))

n1+100

Enter a number: 12.5

112.5

In [101]:
name, age = input('Enter name and age: ').split()
age = int(age)

print(name, 'is', age, 'years old')

print(age+10)

Enter name and age: Mira 17
Mira is 17 years old
27

In [ ]:
# input() with split(), map()

# syntax:  map(function, sequence)

In [102]:
# enter 3 numbers and display the addition

n1, n2, n3 = map( int , input('Enter 3 numbers: ').split())

n1+n2+n3

Enter 3 numbers: 10 5 20

35

In [ ]:
n = 10   # int()  constructor

In [ ]:
n1, n2, n3 = map( float , input('Enter 3 numbers: ').split())

n1+n2+n3

In [ ]:
# Do this
# Enter itemno,rate,qty of an item as integers
# Calculate amount to be paid

In [ ]:
# print() with format() - placeholder

In [104]:
name = 'John'
code = 'A505'
doj = '10-9-2022'
exp = 5

message = 'My name is {}. My code is {}. I have {} yrs of exp. I am {}'

print(message.format(name,code,doj,name))

My name is John. My code is A505. I have 10-9-2022 yrs of exp. I am John

In [ ]:
# print() with short format

In [105]:
name = 'John'
doj = '10-9-2022'
exp = 5
code = 'A505'

print(f'My name is {name}. My code is {code}.')

My name is John. My code is A505.

#### Operators in Python
- Assignment operator: =
- Comparision operator:   ==
- Arithmetic: +, -, *, /, **, //, %
- Relational: >, <, >=, <=, !=
- Logical: and, or, not
- Unary:
    - If the operator acts on a single operand then it's called the unary operator
    - For example: in '-5' the operator '-' is unary operator
- Ternary:
    - The ternary operator in Python is a concise way of writing simple if/else statements in a single line
- Membership: in, not in
- Operator precedence


**THE EXECUTION OF EXPRESSION WILL BE FROM LEFT TO RIGHT**

- Operator precedence - **PEMDAS which means**
- Parenthesis ()
- Exponential **
- Multiplication *
- Division /
- Addition +
- Subtraction -

In [ ]:
# Arithmetic operators: +, -, *, /
# Exponentiation(**)
# Floor division(//)
# Modulus(%)

In [106]:
4 * 2 + 1

9

In [107]:
4 * (2 + 1)

12

In [108]:
4 * 2 + 1 + 4 ** 2

25

In [109]:
4 ** 2 + 3 * 2

22

In [110]:
4 ** 1 + 1 * 2

6

In [111]:
4 ** (1 + 1) * 2

32

In [ ]:
# There are *two* division operators: 
# / for everyday (float) division and // for truncating (integer) division, Floor division(//)

In [112]:
print(17 / 4)
print(17 // 4)

4.25
4

**Membership operators (in, not in)**

- The **in** operator returns result as True if it finds a value or variable in the sequence 
    - Otherwise, it returns False.
- The **not in** operator returns result as True if it doesn't find a value or variable in the sequence
    - Otherwise, it returns False

In [113]:
# string

"I" in "India"

True

In [114]:
"Jap" in "Japan"

True

In [115]:
"J" in "japan"

False

In [119]:
'orange' in ['mango', 'cherry','banana', 'Oorange']

False

In [120]:
# list collection / advance datatype in python
marks = [78,65,45,90,88]

95 in marks

False

In [121]:
45 in marks

True

In [122]:
45 not in marks

False

**Identity operators**

- There are two Identity operators: "is" and "is not"
- **is** - Returns true if both variables are the same object.
- **is not**- Returns true if both variables are not the same object.

**Note:** You should only use is operator if you want to check if two objects are really the same object (not just the same "value").

In [125]:
a = 50
b = 45
c = 50

# display memory address of the variables

print(id(a))
print(id(b))
print(id(c))

140728367356232
140728367356072
140728367356232

In [126]:
# check if the memory address of a and b are same

a is b

False

In [124]:
# check if the memory address of a and c are same

a is c

True

In [127]:
a = 10
print(id(a))
a = 20             # value change, address also changes
print(id(a))

140728367354952
140728367355272

In [133]:
a = None
b = None
print(id(a))

print(type(a))

print(id(None))
a is b

140728365968112
<class 'NoneType'>
140728365968112

True

In [130]:
a is None

True

#### print() parameters - sep, end

In [137]:
print('Hello')
print('John')

Hello
John

In [139]:
print('11', end='***')
print('22')

11***22

In [142]:
print('11', end='')
print('22')

1122

In [143]:
a,b,c,d = 4,2,3,7

print(a,b,c,d)

4 2 3 7

In [144]:
a,b,c,d = 4,2,3,7

print(a,b,c,d, sep=', ')

4, 2, 3, 7

In [145]:
print(a,b,c,d, sep=', ')

print('Thanks')

4, 2, 3, 7
Thanks

In [146]:
print(a,b,c,d, sep=', ')

print('\nThanks')

4, 2, 3, 7

Thanks

In [147]:
print(a,b,c,d, sep=', ')
print()
print('Thanks')

4, 2, 3, 7

Thanks

In [151]:
name,code,city = 'John',1001, 'Mumbai'

print(name,code,city)
print(name,code,city, sep=', ')

John 1001 Mumbai
John, 1001, Mumbai

### Observe the given examples

In [134]:
# Example: It works

divident = int(input("enter divident: "))

divisor = int(input("enter divisor: "))

Quoteint = divident/divisor

print(Quoteint)

enter divident: 45
enter divisor: 5
9.0

In [135]:
# Example: It works

divident = input("enter divident: ")

divisor = input("enter divisor: ")

Quoteint = int(divident)/int(divisor)

print(Quoteint)

enter divident: 5345
enter divisor: 3
1781.6666666666667

In [136]:
# Example: Why this won't work

divident = input("enter divident: ")   

divisor = input("enter divisor: ")     

Quoteint = int(divident/divisor) 

print(Quoteint)

enter divident: 345345
enter divisor: 12

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# How to deal with errors

# copy paste the error on google
# and open stackoverflow link