In [6]:
!pip install pandas

Requirement already satisfied: pandas in /Users/rajiv-ranjan/Documents/github/rajiv-ranjan/learning-python/think-python/.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/rajiv-ranjan/Documents/github/rajiv-ranjan/learning-python/think-python/.venv/lib/python3.13/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rajiv-ranjan/Documents/github/rajiv-ranjan/learning-python/think-python/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/rajiv-ranjan/Documents/github/rajiv-ranjan/learning-python/think-python/.venv/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/rajiv-ranjan/Documents/github/rajiv-ranjan/learning-python/think-python/.venv/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/rajiv-ranjan/Documents/github/rajiv-ranjan/learning-python/think-python/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

data = pd.read_csv("weight-height_10000.csv")
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [5]:
data.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989698