# My work

## Euler Problem 8
https://projecteuler.net/problem=8

In [112]:
input_number_as_string = '''
73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450
'''

In [113]:

def clean_number_digest(passed_str:str ) -> list:
    # cleaned_number_digest = []
    # cleaned_number_digest = 
    return [dig for dig in passed_str if '0' <= dig <= '9']

In [114]:

# print(list(clean_number_digest(input_number_as_string)))

In [115]:
def product(s: list[str]) -> int:
    if '0' in s:
        return 0
    product = 1
    for ch in s:
        product *= int(ch)
    return product

In [116]:
def euler_08(input_number_as_string, size: int) -> tuple[int,int]:
    number_digest = clean_number_digest(input_number_as_string)
    start, window_len = 0,size
    full_length = len(number_digest)
    max_product, location = 0, -1
    while start + window_len <= full_length:
        window = number_digest[start:start+window_len]
        p = product(window)
        if p > max_product:
            location = start
            max_product = p
        start += 1
    return location, max_product

In [117]:
euler_08(input_number_as_string,13)
%time euler_08(input_number_as_string,13)

CPU times: user 534 µs, sys: 9 µs, total: 543 µs
Wall time: 546 µs

(197, 23514624000)

# Euler problem 9: Special Pythagorean Triplet
https://projecteuler.net/problem=9

# Kaprekar’s Constant
Step 1: Choose any four digit number, say n. This is the first number of the sequence.

Step 2: Create a new number α which is the largest number that can be formed by using the four digits of n.

Step 3: Create a new number β which is the smallest number that can be formed by using the four digits of n.

Step 4: α − β is the next number in the sequence.

Step 5: Repeat from step 2.

The sequence is called a Kaprekar sequence and the function K(n) = α − β
is the Kaprekar mapping. Some numbers map to themselves; these are the fixed points of the Kaprekar mapping, and are called Kaprekar’s constants. Zero is a Kaprekar’s constant, and so is called a trivial Kaprekar’s constant. All other Kaprekar’s constant are nontrivial Kaprekar’s constants.

For example, starting with 3524,
K(3524) = 5432 − 2345 = 3087
K(3087) = 8730 − 378 = 8352
K(8352) = 8532 − 2358 = 6174 K(6174) = 7641 − 1467 = 6174 with 6174 as a Kaprekar’s constant.

In [ ]:
Fizz Buzz

In [149]:
def make_fizzbuzz(upto: int, fizzbuzz) -> list[str]:
    return [fizzbuzz(i) for i in range(1, upto)]

In [151]:
def fizzbuzz_1(n: int) -> str:
    if n % 15 == 0:
        return 'FizzBuzz'
    elif n % 5 == 0:
        return 'Buzz'
    elif n % 3 == 0:
        return 'Fizz'
    else:
        return str(n)

In [153]:
print(make_fizzbuzz(20, fizzbuzz_1))

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz', '16', '17', 'Fizz', '19']

In [159]:
def fizzbuzz_2(n: int) -> str:
    fb = ''
    if n % 3 == 0:
        fb += 'Fizz'
    if n % 5 == 0:
        fb += 'Buzz'
    # return str(n)
    return fb or str(n)

In [161]:
print(make_fizzbuzz(20, fizzbuzz_2))

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz', '16', '17', 'Fizz', '19']

In [143]:
'a' or str(15)

'a'

In [145]:
'' or 4 + 7

11

Euler Problem 2
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:
1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
def next_fibo_no(num1:int, num2:int) -> int:

# ADPVX

* A string is termed ascending and denoted by "A" if the characters in that string are in *strict* ascending order. Example: "best"

* A string is termed descending and denoted by "D" if the charatcters in the string are in *strict* descending order. Example: "yoke"

* If the first part of a string is ascending and the remaining is descending, it is termed a peak and denoted by "P". The number of characters in the two parts need not be the same. But together the two parts must contain all the chanracters. Example "13789640"

* Similarly we use the term valley, denoted by "V" for a string whose characters descend and then ascend. "yoga"

* We denote the strings that do not come under these as "X".

## Write a set of fuctions to classify a given string

In [45]:
def ascending_word(word: str) -> bool:
    ch_list=list(word)    
    for i in range(len(ch_list)-1):
        if ch_list[i] >= ch_list[i+1]:
            return False
    print(ch_list)
    return True


def descending_word(word: str) -> bool:
    ch_list=list(word)    
    for i in range(len(ch_list)-1):
        if ch_list[i] <= ch_list[i+1]:
            return False
    print(ch_list)
    return True

def peak_word(word: str) -> bool:
    ch_list=list(word)
    number_of_turns=0
    for i in range(len(ch_list)-1):
        if ch_list[i] >= ch_list[i+1]:
            number_of_turns += 1
            

def check_word_type(word: str) -> str:
    if ascending_word(word):
        return "A"
    if descending_word(word):
        return "D"
    return "X"
    


check_word_type("best")

['b', 'e', 's', 't']

'A'

In [29]:
# def is_ascending(s: str) -> bool:
#    return all(a < b for a, b in zip(s, s[1:]))

In [31]:
UP, DN, EQ = 'A', 'D', 'E'

In [33]:
def relation(a: str, b: str) -> str:
    if a < b:
        return UP
    elif a == b:
        return EQ
    else:
        return DN

In [35]:
def transform(s: str) -> str:
    return ''.join([relation(x, y) for x, y in zip(s, s[1:])])

In [37]:
def squeeze(s: str) -> str:
    if len(s) == 1:
        return s
    elif s[0] == s[1]:
        return squeeze(s[1:])
    else:
        return s[0] + squeeze(s[1:])

In [39]:
def classify(s: str) -> str:
    sig = squeeze(transform(s))
    if sig == UP:
        return 'A'
    elif sig == DN:
        return 'D'
    elif sig ==  UP + DN:
        return 'P'
    elif sig == DN + UP:
        return 'V'
    else:
        return 'X'

In [43]:
for s in ["1234", "yogam", "yoke", "zone", "hello"]:
    print(s, transform(s))

1234 AAA
yogam DDDA
yoke DDD
zone DDD
hello DAEA

# Problem: Convert Arabic to Roman numbers and vice versa

In [593]:

def transform(place: int, digit: int) -> str:
    roman_digits = [["","I","II","III","IV","V","VI","VII","VIII","IX"],
                    ["","X","XX","XXX","XL","L","LX","LXX","LXXX","XC"],
                    ["","C","CC","CCC","CD","D","DC","DCC","DCCC","CM"],
                    ["","M","MM","MMM","MMMM"]]

    return roman_digits[place][digit]

In [595]:
def convert_integer_to_roman(num1:int) -> str:
    s = str(num1); s_len = len(s)
    roman = ""
    for place in range(0,s_len,1):
        digit = int(s[s_len-place-1:s_len-place:1])
        roman = transform(place,digit)+roman
    return roman

In [605]:
# print(convert_integer_to_roman(8))
# print(convert_integer_to_roman(11))
# print(convert_integer_to_roman(100))
# print(convert_integer_to_roman(151))
# print(convert_integer_to_roman(851))
# print(convert_integer_to_roman(1651))
# print(convert_integer_to_roman(1119))
# print(convert_integer_to_roman(2789))
print(convert_integer_to_roman(651))

DCLI

# Problem: Convert Roman to Arabic numbers and vice versa

In [609]:
def convert_roman_to_integer(s: str) -> int:
    roman_table = {'M': 1000, 'D': 500, 'C': 100, 'L': 50, 'X': 10, 'V': 5, 'I': 1}

    s = s.replace("CM", "DCCCC").replace("CD", "CCCC")
    print(s)
    s = s.replace("XC", "LXXXX").replace("XL", "XXXX")
    print(s)
    s = s.replace('IX', "VIIII").replace("IV", "IIII")
    print(s)
    return sum(roman_table[ch] for ch in s)
# 
convert_roman_to_integer("XXVII")

XXVII
XXVII
XXVII

27

# Problem: Covert number digits to words (Indian system)

* handles indian ways like lakhs, crores for less that 100 crores

# Euler Problem 21: Amicable 

Let d(n) be defined as the sum of proper divisors of n (numbers less than n which divide evenly into n). If d(a) = b and d(b) = a, where a ̸= b, then a and b are an amicable pair and each of a and b are called amicable numbers.

For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55 and 110; therefore d(220) = 284. The proper divisors of 284 are 1, 2, 4, 71 and 142; so d(284) = 220.

Evaluate the sum of all the amicable numbers under 10000.

In [186]:
def sum_of_factors(n: int) -> int:
    aliquot = 1
    r = 2
    while r * r < n:
        if n % r == 0:
            aliquot += r
            aliquot += (n // r)
        r += 1
    if r * r == n:
        aliquot += r
    return aliquot

In [188]:
def euler021(limit: int) -> int:
    amicable_sum = 0
    for n in range(1, limit):
        aliq = sum_of_factors(n)
        if n < aliq:
            a = sum_of_factors(aliq)
            if a == n:
                amicable_sum += (aliq + n)
    return amicable_sum

In [190]:
euler021(10000)

31626

# Learning reduce

In [219]:
import functools
functools.reduce?

Docstring:
reduce(function, iterable[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence
or iterable, from left to right, so as to reduce the iterable to a single
value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the iterable in the calculation, and serves as a default when the
iterable is empty.
Type:      builtin_function_or_method

In [221]:
functools.reduce??

Docstring:
reduce(function, iterable[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence
or iterable, from left to right, so as to reduce the iterable to a single
value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the iterable in the calculation, and serves as a default when the
iterable is empty.
Type:      builtin_function_or_method

In [223]:
def tuple_mul(x: tuple,y: tuple) -> tuple:
    z = (x[0]+y[0],x[1]+y[1])
    return z

print(functools.reduce(tuple_mul,[(1,1),(2,2),(3,3),[4,4]]))

(10, 10)

Docstring:
reduce(function, iterable[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence
or iterable, from left to right, so as to reduce the iterable to a single
value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the iterable in the calculation, and serves as a default when the
iterable is empty.
Type:      builtin_function_or_method

# Problem String Manipulation: Anagram

Two words are called anagrams of each other if they are both consisting of the same letters:

steps, pests spare, reaps

There can be many words which are anagrams of each other

spare, reaps, pears

In [281]:
def is_anagram_1(word1:str, word2:str) -> bool:
    word2_list=list(word2)
    for letter in word1:
        print(word2.index(letter))
        #print(word2_list.pop(word2.index(letter)))
        
        # if word2_list.pop(word2.index(letter)-1) == '':
        #     return False
        
    return True

In [251]:
def is_anagram_2(a: str, b: str) -> bool:
    '''Checks if the two strings given
    are anagrams of each other. Case sensitive'''
    return sorted(a) == sorted(b)

In [285]:
is_anagram_1("abc","cba")

2
1
0

True

# Problem: Date String
## given a string of the form dd SEP mon SEP yyyy
## return the seven digit integer yyyyddd

## SEP can be comma or space or comma plus space
## the two seps can be dfferent

"12 Jan 1999" $\Rightarrow$ 1999012

"14 february,2015" $\Rightarrow$ 2015045

"2,Nov, 2020" $\Rightarrow$ 2020307

## ddd is often called the Julian date

In [560]:
def cleanit(input1: str) -> str:
    #input1 = input1.replace(" ","|")
    input1 = input1.replace(","," ")
    input1 = input1.replace("-"," ")
    return input1

In [562]:
def clean_and_split(input2: str) -> list:
    data = []
    input2 = cleanit(input2)
    data = input2.split()
    data[1]=str(data[1])[:3]
    return data

# print(clean_and_split("12 Jan 1999"))
# print(clean_and_split("14 february,2015"))
# print(clean_and_split("2,Nov, 2020"))

In [564]:
month_dic = {
        "jan":31,
        "feb":28,
        "mar":31,
        "apr":30,
        "may":31,
        "jun":30,
        "jul":31,
        "aug":31,
        "sep":30,
        "oct":31,
        "nov":30,
        "dec":31
    }
def return_days_in_month(month: str) -> int:
    return month_dic[month]

In [566]:
def julian_date_calc(year: int, month: str, day: int) -> str:
    print(year,month,day)
    total_days = 0
    month_list = month_dic.items()
    
    for month_tup in month_list:
        if month_tup[0] == month:
            total_days += day
            break
        elif year % 4 == 0 and month_tup[0] == "feb":
            total_days += 29
        else:
            total_days += month_tup[1]

    return str(total_days)

In [568]:
def convert_date(in_date: str) -> str:
    date_as_list = clean_and_split(in_date)
    out1 = julian_date_calc(int(date_as_list[2]),date_as_list[1].lower(),int(date_as_list[0]))
    print(date_as_list[2],out1.zfill(3),sep="")

In [572]:
convert_date("01 Mar 2023")
convert_date("12 Jan 1999")
convert_date("14 february,2015")
convert_date("2,Nov, 2020")

2023 mar 1
2023060
1999 jan 12
1999012
2015 feb 14
2015045
2020 nov 2
2020307

# Sort a key

In [630]:
words = ["hello", "pots", "post","spear", "stop", "opts", "spare", "could", "spot", "cloud"]

In [632]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [634]:
print(sorted(words))

['cloud', 'could', 'hello', 'opts', 'post', 'pots', 'spare', 'spear', 'spot', 'stop']

In [636]:
print(words)

['hello', 'pots', 'post', 'spear', 'stop', 'opts', 'spare', 'could', 'spot', 'cloud']

In [638]:
print(sorted(words, key=len))

['pots', 'post', 'stop', 'opts', 'spot', 'hello', 'spear', 'spare', 'could', 'cloud']

In [640]:
print(sorted(words, key=sorted))

['spear', 'spare', 'could', 'cloud', 'hello', 'pots', 'post', 'stop', 'opts', 'spot']

In [ ]:
new_list = ["bca","abc","def"]